---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
<style>

  p {
    margin: 4px 0; /* reduce top/bottom spacing between paragraphs */
  }

  li {
    margin-bottom: 8px; /* smaller spacing between list items */
  }

  h1, h2 {
    margin: 8px 0; /* reduce spacing above/below headers */
  }

  ul {
    margin: 0; /* remove default padding around the list */
    padding-left: 20px; /* keep indentation */
  }
</style>
<p>(*) indicates equal contribution</p>
<p>(&alpha;-&beta;) indicates alphabetical order</p>
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my work on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
<h1>Preprints</h1>
<div>
    <strong><a href="https://arxiv.org/abs/2506.00316" target="_blank">Active Learning via Regression Beyond Realizability</a></strong>
    <p>Atul Ganju, <u>Shashaank Aiyer*</u>, Ved Sriraman*, and Karthik Sridharan</p>
    <p><em>arXiv 2025</em></p>
</div>

<h1>Conference Publications</h1>
<div>
    <strong><a href="https://arxiv.org/pdf/2604.05324" target="_blank">A Theoretical Framework for Statistical Evaluability of Generative Models</a></strong>
    <p>(&alpha;-&beta;) <u>Shashaank Aiyer</u>, Yishay Mansour, Shay Moran, and Han Shao</p>
    <p><em>ICML 2026</em></p>
</div>



